body{
    margin: 0;
    padding: 0;
}
#top1{
    padding-bottom: 15px;
    margin: 0px 10px 10px 5px;
}
#bottom1{
    padding-top: 20px;
}
.top1 .card-body {
    background-color: #f8f8f8;
    border-radius: 5%;
    border-bottom: 2px solid #00aeef;/*here change color code*/
    border-right: 3px solid #00aeef;
    margin-left: 15px;
    text-align: center;
    margin-bottom: 46px;
    margin-top: 28px;
}
.bottom1 .card-body{
    background-color: #D9F1FD;
    margin-left: 31px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 7px;
}
/*
.bottom1 .card-body .card-group{
    margin-bottom: 10px;
}
*/
.card {
    border: none;
}
.card img{
    align-content: center;
    margin-bottom: 10px;
}

.bottom1 .col {
    margin-top: 10px;
}

.flexbottom {
    display: flex;
justify-content: space-evenly;

}
.card-title{
    margin-bottom: 0px;
    font-weight: 400;
    
}