:root{
  --card-color: #e5e5ef;
  --hover-color: #ffffff;
}

.card-img img{
  width: 400px;
  position: relative;
  bottom: 100px;
  left: 100px;
  transform: translateX(-40px);
}
.card{
  width: 60%;
  height: 50%;
  background-color: var(--card-color);
  border: none;
  border-radius: 20px;
}
.container-fluid{
        margin: 100px 0 0 100px;
}
.card-body a{
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
.card-body a:hover, a:hover::after{
  content: ">";
  color: var(--hover-color);
}
