:root{
  --card-background-color: #e5e5ef;
  --hover-color: #ffffff;
}

.card{
  border: none;
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--card-background-color);
}
.card img{
  width: 450px;
  margin-right: -90px;
}
.card-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin-left: 10px;
}
.card-title h3{
  color: #999999;
}
.card-title a{
  text-decoration: none;
  font-size: .8rem;
}
.card-container{
  display: flex;
  justify-content: center;
}
.card-2{
  margin-left: 30px;
}
.card-title a:hover{
  color: var(--hover-color);
}
