.card-header h4{
  font-size: 20px;
  margin-left: 10px;
}
.card-header img{
  width: 20px;
}
.card-body{
  margin-top: -20px;
  font-size:.8rem;
}
.card{
  width: 400px;
  height: 250px;
  border: none;
}
.card-header{
  display: flex;
  border: none;
}
