.custom-container {
  padding: 1rem 1rem;
}

.card-img-top {
  width: 4rem;
  margin-bottom: -6px;
}
.card {
  margin-top: 10px;
  width: 200px;
  height: 20rem;
  border-radius: 1rem;
  border: none;
  background-image: linear-gradient(
    180deg,
    #a9ddf3 0%,
    rgba(255, 255, 255, 1) 50%
  );
  white-space: normal;
}
.card-body h5,
a {
  text-align: center;
  font-size: 0.9rem;
}
.card-head {
  text-align: center;
}
.card-body p {
  font-size: 0.7rem;
}
.card-body a {
  border-radius: 1rem;
  margin-bottom: -8px;
}

.imgb {
  width: 200px;
  height: 130px;
  border-radius: 10%;
}

.bottomtext {
  margin-top: 15px;
}

.ctext {
  font-weight: lighter;
}

.rbottom {
  margin-top: 66px;
}

.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  display: block;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.inner {
  display: inline-block;
}
